
body, ul, li p{
	margin:0pc;
	padding:0px;
	list-style:none;
	font-size:1.2em;
	font-family:arial;
	background:black;
	color:white;
}
.n{
	color:black;
	font-family: 'Titillium Web', sans-serif;
	background:#ffdb58; 
}

a{
	text-decoration:none;
	color:black;
	font-family: 'Titillium Web', sans-serif;
	font-size:40px;
}

h1{
	text-align:center;
	margin-top:50px;
	color:#ffdb58;
	font-family: 'Courgette', cursive;
	font-size:75px;
}

p{
	text-align:center;
	font-family: 'Titillium Web', sans-serif;
	font-size:25px;
}

img{
	max-width:100%;
	display:block;
}

/*header*/

.header{
	background:#ffdb58;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:20px;
	align-items:center;
}

.menu{
display:flex;
padding:10px;
background:#ffdb58;
color:black;
}

/*Sub-menu do Header*/

li{
   position:relative;
   transition-duration:0.5s;
   color:black;
   font-family: 'Titillium Web', sans-serif;
   background:#ffdb58;
   border-radius:25px;
   border:#ffdb58; 
}

.fonte{
	font-size:32px;
}

li:hover{
	background:#e69a29;
	cursor:pointer;
}

ul li ul{
	background:#ffdb58;
	visibility:hidden;
	position:absolute;
	transition:all 0.5 ease;
	margin-top:2px;
	left:0;
	display:none;
	border-radius:30px;
}
ul li:hover > ul, ul li ul:hover{
	visibility:visible;
	opacity:1;
	display:block;
	padding:20px;
	margin-left:-47px;
	width:200px;
	text-align:center;	
} 

/*main*/

.main{
	display:flex;
	flex-wrap:wrap;
	max-width:1500px;
	margin:0 auto;
}

.main>div{
	flex: 1 1 200px;
	margin:5px;
}

img:hover{
	background:#c9a51e;
	cursor:pointer;
	opacity:1;
	border-radius:100px;
}

/*footer*/

.footer{
	display:flex;
	justify-content:space-between;
	padding:15px;
	align-items:center;
	background:#ffdb58;
}

.footer>.ul>.li{
	background:#ffdb58; 
}

.footer>nav>.ul>.li{
	background:#ffdb58
}


